@using SchoolManager.Models
@{
    ViewBag.Title = "Thời khóa biểu";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12">
        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>@ViewBag.Title</h2>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item">Lớp Học</li>
            <li class="breadcrumb-item">Chi tiết lớp học</li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ul>

    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card client-detail">
            <div class="body row">
            </div>
            <table class="table table-hover">
                <tr>
                    <th>Buổi</th>
                    <th>Thứ 2</th>
                    <th>Thứ 3</th>
                    <th>Thứ 4</th>
                    <th>Thứ 5</th>
                    <th>Thứ 6</th>
                </tr>
                <tr>
                    <th>Sáng</th>
                    <th>Học vẽ</th>
                    <th>Âm nhạc</th>
                    <th>Ngoại khóa</th>
                    <th>Văn hóa</th>
                    <th>Thể dục</th>

                </tr>
                <tr>
                    <th>Chiều</th>
                    <th>Khoa học</th>
                    <th>Học vẽ</th>
                    <th>Ngoại khóa</th>
                    <th>Âm nhạc</th>
                    <th>Văn hóa</th>
                </tr>
            </table>

        </div>
    </div>
</div>

